{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
        
        <div class="row mb-3">
            <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Typ balení:</label>
            <div class="col-sm-10">
                {{ form.name.errors }}
                {{ form.name }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Potvrdit</button>
        <button type="button" class="btn btn-secondary"
                onclick="history.length > 1 ? history.back() : window.location.href='/'">Zpět</button>
    </form>
{% endblock %}
