{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container text-left">
    {% for honey in honey_list%}
    <div class="row">
        <!-- Inforace o medu -->
        <div class="col">
            <h3>{{ honey.name }}</h3>
            <div>{{ honey.description }}</div>
            <br>
            <a href="{% url 'honey_detail' honey.pk %}" class="btn btn-warning">Více informací</a>
            <a href="{% url 'honey_update' honey.pk %}" class="btn btn-primary">Editovat</a>
            <a href="{% url 'honey_delete' honey.pk %}" class="btn btn-danger">Smazat</a>
        </div>
        <!-- Obrazek -->
        <div class="col">
            {% if honey.image %}
                <img class="honey-image"
                    src="{{ honey.image.url }}"
                    alt="Chybějící obrázel {{ honey.name }}">
            {% else %}
                <img
                    class="honey-image"
                    src="{% static 'media/honey_images/med-akatovy.jpg' %}"
                    alt="Med akátový"
                    style="width: 250px"> <!-- pak odstraním a bude  CSS souboru-->
            {% endif %}
        </div>
    </div>
    <br>
{% endfor%}
</div>
{% endblock%}
