{% extends "base.html" %}
{% load static %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Jméno medu:</label>
            <div class="col-sm-6">
                {{ form.name.errors }}
                {{ form.name }}
            </div>
        </div>

        <div class="row mb-3">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Popis:</label>
            <div class="col-sm-6">
                {{ form.description.errors }}
                {{ form.description }}
            </div>
        </div>
        
        <div class="row mb-3">
            <label for="{{ form.image.id_for_label }}" class="col-sm-2 col-form-label">Obrázek:</label>
            <div class="col-sm-6">
                {{ form.image.errors }}
                {{ form.image }}
            </div>
        </div>
        <!-- Skryté pole pro next -->
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    <button type="submit" class="btn btn-success">Potvrdit</button>
    </form>
    {% if honey.pk %}
        {% url 'honey_detail' honey.pk as honey_detail_url %}
        <a href="{{ request.GET.next|default:honey_detail_url }}" class="btn btn-secondary">Zpět</a>
    {% else %}
        {% url 'honey_list' as honey_list_url %}
        <a href="{{ request.GET.next|default:honey_list_url }}" class="btn btn-secondary">Zpět</a>
    {% endif %}
{% endblock %}
