{% extends "base.html" %}
{% load static %}

{% block content%}
<!--style="display: flex; justify-content: space-between;-->
<div class="tv-details-container">
    {% if is_med_akatovy %}
    <h3>MED KVĚTOVÝ AKÁTOVÝ</h3>
    <div>doplnit!</div> <!--texty se doplní až budou definované-->
    {% endif %}

    {% if is_med_kvetovy %}
    <h3>MED KVĚTOVÝ</h3>
    <h5>Med květový (luční)</h5>
    <div>Med květový, někdy zvaný jako med nektarový, je směs nektaru různých květů, většinou z našich luk CHKO Bílé
        Karpaty. Jedná se o přírodní koncentrát z květů, většinou světlejší, nazlátlé barvy. Díky své dobré
        stravitelnosti je vhodný pro děti i starší osoby, obsahuje totiž mnoho jednoduchých cukrů glukózy a fruktózy.
        Dále obsahuje větší množství pylových zrn, které jej obohacují o bílkoviny, stopové prvky, vitamíny,
        aminokyseliny a nenasycené mastné kyseliny. Kvůli svému složení brzy krystalizuje.
    </div>
    <br>
    <div>Květový med je zřejmě nejpřirozenějším druhem medu, jelikož obsahuje skutečnou směs všemožných květů bylin, ale
        i stromů z okolí úlu v radiusu až 3 km.
    </div>
    {% endif %}
    <br>
    <a href="{% url 'honey_list' %}" class="btn btn-warning">Zpět na seznam medů</a>
    <a href="{% url 'honey_update' honey.pk %}" class="btn btn-primary">Editovat</a>
    <a href="{% url 'honey_delete' honey.pk %}" class="btn btn-danger">Smazat</a>
</div>

{% endblock%}