{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container text-left">
    {% for honey in honey_list%}
    <div class="row">
        <!-- Inforace o medu -->
        <div class="col">
            <h3>{{ honey.name }}</h3>
            <div>{{ honey.description }}</div>
            <br>
            <a href="{% url 'honey_detail' honey.pk %}?next={{ request.get_full_path }}" class="btn btn-warning">Více informací</a>
            {% if user.is_superuser %}
                <a href="{% url 'honey_update' honey.pk %}?next={{ request.get_full_path }}" class="btn btn-primary">Editovat</a>
                <a href="{% url 'honey_delete' honey.pk %}?next={{ request.get_full_path }}" class="btn btn-danger">Smazat</a>
            {% endif %}
        </div>
        <!-- Obrazek -->
        <div class="col">
            {% if honey.image %}
                <img class="honey-image"
                    src="{{ honey.image.url }}"
                    alt="Chybějící obrázel {{ honey.name }}">
            {% else %}
                <img
                    class="honey-image"
                    src="{% static 'media/honey_images/med-akatovy.jpg' %}"
                    alt="Med akátový"
                    style="width: 250px"> <!-- pak odstraním a bude  CSS souboru-->
            {% endif %}
        </div>
    </div>
    <br>
{% endfor%}
    {% if user.is_superuser %}
    <a href=" {% url 'honey_create' %}" class="btn btn-success">Přidat med</a>
    <a href=" {% url 'stock_prod_create' %}?next={{ request.get_full_path }}" class="btn btn-success">Přidat produkt</a>
    {% endif %}
</div>
{% endblock%}
