{% extends 'base.html' %}
{% load static %}

{% block title %}Včelařství Jaroščák & Toman{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class=""></div>
        </div>
    </div>
    <h3>Včelařství Jaroščák & Toman</h3>
    <div>Historie se táhne do roku</div>
    <div class="list-group-item-danger">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2071.8265694601964!2d16.47715219106007!3d49.32705467768494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47129b000e95a169%3A0x6a6d2851a5919be6!2zSW5ub21vdGljcywgcy5yLm8uLCBvZMWhdMSbcG7DvSB6w6F2b2QgRWxla3Ryb21vdG9yeSBEcsOhc292!5e1!3m2!1scs!2scz!4v1749234444117!5m2!1scs!2scz"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}